{% extends 'yt/base.html' %}
{% load static %}
{% block content %}
<div class="account-div">
  <div class="hat">
<img src="{{ user.profile.backphoto.url }}" alt="background" class="background">
<img src="{{ user.profile.avatar.url }}" alt="avatar" class="avatar">
<h1 class="nickname">{{user.username}}</h1>
<a href="{% url 'add_video' %}" class="add-vid">Add Video</a>

<!-- <div class="message">
  <button type="submit" class="button" onclick="openPopup()">Submit</button>
  <div class="popup" id="popup">
    <h2>Thank you</h2>
    <p>your done</p>
    <button type="button" onclick="closePopup()">Okay</button>
    </div>
  </div>
</div> -->

<a href="#" class="add-vid">About</a>
<a href="#" class="add-vid">Liked</a>
<a href="#" class="add-vid">Edit videos</a>
<!--  <--! -->
</div>
<div class="video-all">
  {% for video in user_videos %}
  <div class="videos">
    <video width="320" height="240" controls class="video">
      <source src="{{ video.video.url }}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <h3 class="title-vid">{{ video.title }}</h3>
    <h4 class="descrip-vid">{{ video.description }}</h4>
  </div>
{% endfor %}
</div>


{% endblock %}



